<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/new" style="color: white;">Digibarons - A We Gyan Ventures Private Limited brand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" style="color: white;"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
    </div>
    <div class="right straighten">
      <form class="d-flex" method="GET">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" style="color: white; " aria-current="page" href="/new">Generate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; float: right;" aria-current="page" href="/addUser">Add Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" aria-current="page" href="/signOut">Sign Out</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </nav>