<%- include("partials/header") %>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-10 col-md-8">
                <div class="card">
                <div class="card-body">
                    <h1>Change password</h1>
                    <hr />

                    <form action="/changePass" method="POST">
                        <div class="form-group">
                        <label for="username">Username</label>
                        <input id="cp_user" type="text" class="input form-control" name="username" value="">
                        </div>
                        <div class="form-group">
                        <label for="Npassword">New Password</label>
                        <input type="password" class="form-control" name="Npassword">
                        </div>
                        <div class="form-group">
                        <label for="Cpassword">Confirm Password</label>
                        <input type="password" class="form-control" name="Cpassword">
                        </div>
                        <button type="submit" class="btn btn-dark">Update Password</button>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
    </div>

<%- include('partials/footer') %>