

.header {
  text-align: center;
  color: white;
  font-size: 30px;
}

.navbar{
  border: 2px solid black;
}

.btn{
  border: 1px solid black;
  background-color: black;
}

.nav-link{
  padding-right: .5rem;
  padding-left: .5rem;
  width: 100px;
}

.straighten{
  padding: auto;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

/* three lines to white */
.navbar-toggler {
  background-color: white;
}